{% extends 'Backend/main.html' %}

{% load static %}

{% block title %} Room List{% endblock %}

{% block body %}



<section>
                    <div class="section-body">
                        <!-- BEGIN DATATABLE 2 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-head style-primary">
                                        <header>Room Type Details</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                        </div>
                                    </div>
                                    <br>



                            <div class="card-body ">
                                        <div class="table-responsive">
                                   <div class="card-header bg-secondary text-blue"> Customer ID =
            {{ customer.customer_id }}
        </div>

        <div>First Name = {{customer.first_name}}</div>
        <div>{% if customer.middle_name %}
            Middle Name = {{customer.middle_name}}
            {% endif %}
        </div>
        <div>Last Name = {{customer.last_name}}</div>
        <div>Contact Number = {{customer.contact_number}}</div>
        <div>Address = {{customer.address}}</div>
        <div>{% if customer.email_address %}
            Email Address= {{customer.email_address}}
        {% endif %}
        </div>

                                </div>

                                      </div>



                                        </div><!--end .table-responsive -->


                                </div>
                            </div><!--end .col -->
                        </div><!--end .row -->
                        <!-- END DATATABLE 2 -->

                    </div><!--end .section-body -->
                </section>


{% endblock%}