 {% extends 'Backend/main.html' %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} Edit Order {% endblock %}
{% block head_extra %}
{{form.media}}
{% endblock head_extra %}
{% block body %}
<style>
		.wmd-panel{
    margin-right:0px !important;
    margin-left: 0px !important;
    background: white;
}
	.wmd-preview{
    display: none;
}

.wmd-input {
    background-color: #f2f3f3;
    border: 1px solid #2d1616;
}
</style>  
                <section>
					<div class="section-body">
						<div class="row">

							<!-- BEGIN  - FORM -->
							<div class="col-lg-12">
								<div class="card">
									<div class="card-head style-primary">
										<header>Edit Room Type</header>
										<div class="tools">
											<a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
											<a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
										</div>
									</div>
									<div class="card-body">

										<form class="form" role="form" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}

											<div class="row">
												<div class="col-sm-6">
													<header>Room Type Info</header>
													<div class="form-group floating-label">
														{{ form|crispy }}
														<!-- <label for="regular2">Enter Room Type Name</label> -->
													</div>
													<!-- <div class="form-group floating-label">
														{{ form.category | add_class:'form-control' }}
														<label for="regular2">Enter Room Catagory</label>
													</div>
													<div class="form-group floating-label">
														{{ form.price | add_class:'form-control' | attr:'rows:2'}}
														<label for="textarea2">Room Amount</label>
													</div>
													<div class="form-group floating-label">
														{{ form.size | add_class:'form-control' | attr:'rows:2'}}
														<label for="textarea2">Room Size</label>
													</div>
													<div class="form-group floating-label">
														{{ form.capacity | add_class:'form-control' | attr:'rows:2'}}
														<label for="textarea2">Room Capacity</label>
													</div>
													
													<div class="form-group floating-label">
														{{ form.description | add_class:'form-control' | attr:'rows:2'}}
														<label for="textarea2">Description</label>
													</div>
												</div>
												<div class="col-sm-6">
													<header >All Facility</header>
													<div class="form-group">
														{{ form.features | add_class:'form-control' | attr:'type:date'}}
														<label for="regular2">Features</label>
													</div>

													<div class="form-group">
														{{ form.extras | add_class:'form-control' | attr:'type:date'}}
														<label for="regular2">Extras</label>
													</div>

													<div class="form-group">
														{{ form.pets | add_class:'form-control' | attr:'type:date'}}
														<label for="regular2">Pets</label>
													</div> -->

												<div class="col-md-12">
													<hr>
													<div class="card-actionbar-row">
														<input type="submit" class="btn btn-flat btn-primary ink-reaction" value="SUBMIT">
													</div>
												</div>
											</div>
										</form>
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
							<!-- END FORM - TIME ON SITE -->

						</div><!--end .row -->
					</div><!--end .section-body -->
				</section>

{% endblock %}


